.header-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  nav {
    > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}
