.contact-preview-container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-preview-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-container {
      width: 60%;
      height: 30%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  
  .remove-contact-btn {
    color: red;
  }
}
